@page
@model PressStart.Pages.AdminIndexModel
@{
}

<h3> Admin index page </h3>

<!-- Tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="true">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="games-tab" data-toggle="tab" href="#games" role="tab" aria-controls="games" aria-selected="false">Games</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">User Name</th>
                        </tr>
                        <tr>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var u in Model.UserList)
                        {
                            <tr>
                                <td>@u.UserName</td>
                                <td>@u.Email</td>
                                <th><form scope="col" asp-action="DeleteUser" asp-route-id="@u.Id" method="POST">
                                        <button type="submit" class="btn btn-danger" >Delete</button>
                                    </form>
                                </th>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
  <div class="tab-pane fade" id="games" role="tabpanel" aria-labelledby="games-tab">
      <a class="nav-link" asp-area="" asp-page="/Admin/Games/AddGame">Add Game</a>
      <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">GameId</th>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Path</th>
                            <th scope="col">Thumbnail</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var g in Model.GameList)
                        {
                            <tr>
                                <td>@g.GameId</td>
                                <td>@g.GameName</td>
                                <td>@g.GameType</td>
                                <td>@g.GamePath</td>
                                <td>@g.ThumbnailPath</td>
                                <td>@g.Description</td>
                                <th scope="col"><a asp-page="/Admin/Games/EditGame" asp-route-id="@g.GameId" >Edit</a></th>
                                <th scope="col"><a asp-page="/Admin/Games/DeleteGame" asp-route-id="@g.GameId" >Delete</a></th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>

<script>
    $('#myTab a').on('click', function (e) {
    e.preventDefault()
    $(this).tab('show')
})
</script>